@import "variables.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mt-12 {
    margin-top: 12px !important;
}

body {
    background-color: $cl-main-bg !important;
}

a.navbar__item-link:hover,
a.subnav__link:hover {
    color: white;
}

.center__header-title,
.content__title,
.footer__brand-name,
.footer__copyright,
.footer__nav-item,
.footer__logo-wrap {
    user-select: none;
}

.link {
    &--format {
        text-decoration: none;
    }
}

.header {
    width: 100%;
    background: $bg-primary;
    // height: 120px;
    &__navbar {
        position: relative;
    }
    &__wrap {
        height: 100%;
        display: flex;
    }
    &__logo {
        width: 92px;
        margin-top: 18px;
        margin-bottom: 10px;

        &-image {
            height: 100%;
            width: 100%;
            vertical-align: middle;
            object-fit: contain;
        }
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-right {
            display: flex;
        }
    }
    &__info {
        margin-top: 34px;
        margin-left: 16px;
    }
    &__brand-name {
        font-family: $ff-heading;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        text-transform: uppercase;
        color: white;
        line-height: 40px;
        cursor: default;
        user-select: none;
    }
}

.navbar {
    &__item {
        &-link {
            font-family: $ff-body;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            color: white;
            display: inline-block;
        }
        &__mini {
            &-icon {
                color: white;
            }
        }
        &-icon {
            color: white;
        }
        &__wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__list {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        padding-left: 0;
        margin-bottom: 6px;
        & > .navbar__item {
            position: relative;
            display: inline-block;
            color: white;
        }
    }
}

li.current-menu-parent a.navbar__item-link,
li.current-menu-parent li.current-menu-item a.subnav__link,
li.current-menu-item a.navbar__item-link {
    font-weight: normal;
}

.subnav {
    &__list {
        display: none;
        background: $bg-primary;
        margin-bottom: 0;
        position: absolute;
        z-index: 99999;
        left: 50%;
        top: calc(100% + 6px);
        animation: slideDown linear 0.3s forwards;
    }

    &__item {
        padding: 6px 10px;
        &:hover {
            opacity: 0.7;
        }
    }
    &__link {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        font-family: $ff-body;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        color: white;
    }
}

.main {
    padding: 16px 0 0;
}

.content {
    &__panel {
        position: relative;
        background-color: white;
        border-radius: 2px;
        margin-bottom: 16px;
    }
    &__panel-wrap {
        margin: 0 16px;
        padding: 16px 0;
        display: flex;
        flex-direction: column;
    }
    &__title {
        cursor: default;
        position: relative;
        font-family: $ff-heading;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        text-transform: uppercase;
        color: $cl-title;
        margin-bottom: 12px;
        max-width: 250px;
        margin-top: 8px;
        &::before {
            position: absolute;
            content: "";
            border-left: 2px solid red;
            height: calc(100% - 6px);
            left: -16px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__left-background {
        // margin-top: 10px;
        // width: 150px;
        // height: 150px;
        // background-image: url(../images/left_background.png);
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: bottom right;
        // &__wrap {
        //     margin-right: -15px;
        //     margin-bottom: -16px;
        // }

        padding-top: 70%;
        position: relative;
        align-self: flex-end;
        &-img {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            object-fit: cover;
        }
    }
    &__left-description {
        font-family: $ff-body;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.04em;
        color: $cl-body-text;
    }
}

.connect {
    &__list {
        display: flex;
        justify-content: space-between;
        & > li {
            display: inline-block;
        }
    }
    // &__list-item {
    // }
    &__logo {
        &:hover {
            opacity: 0.7;
        }
    }
    // &__logo-link {
    // }
    // &__logo-img {
    // }
}

.slider {
    &__wrap {
        position: relative;
        padding-top: 40%;
        border-radius: 8px;
        overflow: hidden;
    }
    &__img {
        border-radius: 8px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.center {
    &__header {
        display: flex;
        align-items: center;
    }
    &__header-tag {
        position: absolute;
        background-color: red;
        width: 20px;
        height: 20px;
        left: 0;
        &::after {
            position: absolute;
            content: "";
            border: 10px solid transparent;
            border-right: 0;
            border-left: 8px solid red;
            left: 100%;
        }
    }
    &__header-title {
        text-transform: uppercase;
        font-family: $ff-heading;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        color: $cl-title;
        margin-bottom: 0;
        margin-left: 30px;
        cursor: default;
    }
    &__panel-wrap {
        padding: 12px 20px;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    // &__wrap {
    // }
    &__tag {
        display: none;
        font-family: $ff-body;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        position: absolute;
        left: 8px;
        content: "";
        z-index: 20;
        background-color: $cl-title;
        border-radius: 4px;
        color: white;
        padding: 4px 18px;
        top: 8px;

        &--show {
            display: block;
        }
    }
    &__wrap-img {
        position: relative;
        padding-top: 50%;
        overflow: hidden;
        border-radius: 8px;
    }
    &__img,
    &__video {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__title {
        font-family: $ff-body;
        font-style: normal;
        font-size: 16px;
        letter-spacing: -0.04em;
        color: $cl-title;
        margin-top: 8px;
        margin-bottom: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &--unwrap {
            overflow: initial;
            white-space: initial;
            text-overflow: initial;
        }
    }
    &__info {
        margin-top: 8px;
        font-family: $ff-body;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: -0.04em;
        color: $cl-sub-title;
        position: relative;
        justify-content: space-between;
    }
    &__time {
        position: relative;
        margin-right: 12px;
        margin-bottom: 0;
        display: inline-block;
        &::after {
            position: absolute;
            content: "";
            height: 10px;
            border-left: 1px solid $cl-sub-title;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 6px;
        }
    }
    &__author {
        margin-bottom: 0;
        display: inline-block;
    }
    &__description {
        display: none;
        font-family: $ff-body;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.05em;
        text-align: justify;
        color: $cl-body-text;
        margin-bottom: 20px;
        margin-top: 8px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        &--show {
            display: -webkit-box;
            font-size: 14px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
    &__count {
        font-size: 16px;
    }
}

.center__item {
    margin-bottom: 20px;
    position: relative;
    &.active {
        // margin-top: 12px;
        margin-bottom: 48px;
        order: 1;
        .center__title {
            font-size: 20px;
            text-transform: uppercase;
            margin: 8px 0;
        }
        .center__description {
            display: -webkit-box;
        }
        .center__tag {
            display: block;
        }
        &::after {
            position: absolute;
            content: "";
            border-bottom: 1px solid $cl-main-bg;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &--link:hover {
        .center__title,
        .center__description,
        .center__info {
            opacity: 0.7;
        }

        & .center__img {
            transform: scale(1.05);
        }
    }
}

.more-btn {
    position: relative;
    // margin: auto;
    text-transform: uppercase;
    font-family: $ff-body;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: $cl-title;
    border: 1px solid $cl-title;
    border-radius: 2px;
    cursor: pointer;
    &__wrap {
        &:hover a {
            opacity: 0.8;
            color: $cl-title;
        }
        display: flex;
        margin: 12px auto;
    }
    &__text {
        display: block;
        padding: 10px 36px;
    }
    &--loading {
        &::after {
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            border: 4px solid transparent;
            border-top-color: $cl-title;
            animation: loadingBtn 1s ease infinite;
        }
        .more-btn__text {
            visibility: hidden;
            opacity: 0;
        }
    }
}

.right__list {
    margin-bottom: 0;
    // &-wrap {
    // }
    &-item {
        margin: 20px 0;
        margin: 10px 0;
        padding: 4px;
        &:hover {
            .item__info {
                opacity: 0.7;
            }
            .item__img {
                transform: scale(1.05);
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    // &-item__link {
    // }
}

.item {
    &__wrap {
        display: flex;
    }
    &__img {
        width: 100%;
        height: 100%;
    }
    &__info {
        margin-left: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        flex-direction: column;
    }
    &__name {
        font-family: $ff-body;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: -0.04em;
        color: $cl-body-text;
    }
    &__description {
        width: 100%;
        font-family: $ff-body;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: -0.04em;
        color: $cl-sub-title;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.right__img__wrap {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 30%;
}

.member-list__item {
    margin-top: 8px;
    &:not(:last-child) {
        border-bottom: 1px solid $cl-light;
        padding-bottom: 8px;
    }
    &:hover {
        .member-item__link {
            color: $cl-sub-title;
            opacity: 0.7;
        }
    }
}

.member-item__link {
    position: relative;
    font-family: $ff-body;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: $cl-sub-title;
}

.footer {
    // padding: 30px 0 0;
    display: flex;
    // position: absolute;
    // left: 0;
    // bottom: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    &__wrap {
        padding: 30px 0;
        max-width: 1000px;
        display: flex;
        margin: auto;
    }
    &__body {
        // padding: 0 0 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__bg-img {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &__logo-wrap {
        position: relative;
        width: 140px;
        height: 140px;
    }
    &__logo-img {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &__brand-name {
        font-family: $ff-heading;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        text-transform: uppercase;
        color: white;
        line-height: 40px;
        margin: 20px 0 16px;
        text-align: center;
        cursor: default;
    }
    &__copyright {
        font-family: $ff-body;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: white;
        margin-bottom: 8px;
        cursor: default;
    }
}

.footer__nav {
    margin-bottom: 0;
    &-item {
        position: relative;
        display: inline;
        font-family: $ff-body;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        margin-left: 8px;
        padding-right: 8px;
        &:not(:last-child):after {
            position: absolute;
            content: "";
            right: 0;
            border-right: 1px solid white;
            height: calc(100% - 4px);
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &-link {
        color: white;

        &:hover {
            color: white;
            opacity: 0.7;
        }
    }
}

// Overwrite Swiper
.swiper {
    margin-bottom: 16px;
    border-radius: 8px;
    &-pagination {
        bottom: 16px !important;
        &-bullet {
            outline: none !important;
        }
    }
}

// Animation
@keyframes slideDown {
    0% {
        opacity: 0;
        top: calc(80%);
    }
    50% {
        top: calc(100% + 6px);
    }
    100% {
        opacity: 1;
        top: calc(100% + 6px);
    }
}

@keyframes slideLeftToRight {
    0% {
        opacity: 0;
        left: calc(90%);
    }
    80% {
        left: calc(100%);
    }
    100% {
        opacity: 1;
        left: calc(100%);
    }
}

@keyframes loadingBtn {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}

// Responsive
// screen <= 991px
@media only screen and(max-width: 991px) {
    @keyframes slideDown {
        0% {
            opacity: 0;
            top: calc(70%);
        }
        50% {
            top: calc(100%);
        }
        100% {
            opacity: 1;
            top: calc(100%);
        }
    }

    .navbar__list {
        display: none;
        &.active {
            display: block;
        }
    }

    .subnav__list {
        top: 0;
        left: 100%;
        animation: slideLeftToRight linear 0.3s forwards;
        &__item {
            font-size: 20px;
            padding: 8px 12px;
        }
    }
    .navbar {
        &__list {
            display: none;
            z-index: 99999;
            margin-top: 0;
            position: absolute;
            top: 100%;
            background: $bg-primary;
            width: max-content;
            animation: slideDown linear 0.3s forwards;
            & > .navbar__item {
                display: block;
            }
        }
        &__mini {
            position: relative;
            padding: 10px 16px 6px 0;
            display: inline-block;
            color: white;
            font-size: 20px;
            font-family: $ff-body;
            cursor: pointer;
            user-select: none;
            &__title {
                text-transform: uppercase;
            }
            // &:hover {
            //     .navbar__list {
            //         display: block;
            //     }
            // }
        }
        &__item {
            position: relative;
            padding: 6px 10px;
            user-select: none;
            cursor: pointer;
            &-link {
                display: inline-block;
                color: white;
            }
        }
    }

    .navbar__item-icon--down {
        display: none;
    }
}

// screen <= 486px
@media only screen and (max-width: 486px) {
    .navbar {
        &__item {
            flex-direction: column;
            align-items: flex-start;
        }
        &__mini {
            position: relative;
            padding: 10px 16px 6px 0;
            display: inline-block;
            color: white;
            font-size: 20px;
            font-family: $ff-body;
            cursor: pointer;
            &__list {
                display: none;
                z-index: 99999;
                position: absolute;
                top: 100%;
                background: $bg-primary;
                width: max-content;
                animation: slideDown linear 0.3s forwards;
            }
            &__title {
                text-transform: uppercase;
            }
            &:hover {
                .navbar__mini__list {
                    display: block;
                }
            }
        }
    }

    .subnav__list {
        position: initial;
        background: initial;
        animation: slideLeftToRight linear 0.3s forwards;
        &__item {
            font-size: 20px;
            padding: 8px 12px;
        }
    }

    .navbar__item-icon--right {
        display: none;
    }
    .navbar__item-icon--down {
        display: block;
        margin-left: 10px;
    }

    #searchform,
    .select__lang-wrap {
        display: none !important;
    }
}

// screen <= 641px
@media only screen and (max-width: 641px) {
    #searchform,
    .select__lang-wrap {
        display: none !important;
    }
}

// 992px <= screen
@media only screen and(min-width: 992px) {
    .navbar__mini {
        visibility: hidden;
        width: 100%;
        height: 0;
        margin: 0;
        padding: 0;
        &__item-icon {
            display: none;
        }
        &__title {
            display: none;
        }
    }

    .navbar__mini > .navbar__list {
        visibility: visible;
        width: 100%;
        display: flex !important;
    }

    .navbar {
        &__item {
            &:hover {
                .subnav__list {
                    display: block !important;
                }
            }
        }
    }

    .subnav__list {
        transform: translateX(-50%);
        width: calc(100% + 48px);
        text-align: center;
        display: none !important;
    }

    .navbar__list {
        & > .navbar__item {
            &:hover {
                &::after {
                    position: absolute;
                    content: "";
                    border: 6px solid transparent;
                    bottom: -12px;
                    width: calc(100% + 48px);
                    cursor: pointer;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }

    .navbar__item-icon--right {
        display: none;
    }
    .navbar__item-icon--down {
        margin-left: 4px;
    }

    .container {
        max-width: 95% !important;
    }

    .navbar__item:hover > .navbar__item__wrap,
    .navbar__mini:hover > .navbar__item-icon,
    .navbar__mini:hover > .navbar__mini__title,
    .subnav__item:hover {
        opacity: 0.7;
        cursor: pointer;
        color: white;
    }
}

// 467px <= screen <= 767px
@media only screen and (min-width: 467px) and(max-width: 767px) {
    .header__brand-name {
        font-size: 24px;
    }
    .footer__brand-name {
        font-size: 24px;
    }
    .footer__logo-wrap {
        width: 120px;
        height: 120px;
    }
}

// 487px <= screen <= 641px
@media only screen and (min-width: 487px) and(max-width: 641px) {
    .header__brand-name {
        font-size: 24px;
        line-height: 20px;
    }
    .header__logo {
        width: 80px;
    }
}

// 768px <= screen <= 810px
@media only screen and (min-width: 768px) and(max-width: 810px) {
    .header__brand-name {
        font-size: 28px;
    }
}

// 387px <= screen <= 487px
@media only screen and(min-width:387px) and(max-width:487px) {
    .header__brand-name {
        font-size: 20px;
        line-height: 20px;
    }
    .footer__brand-name {
        font-size: 18px;
    }
    .footer__logo-wrap {
        width: 100px;
        height: 100px;
    }
}

// screen <= 386px
@media only screen and(max-width: 386px) {
    .header__brand-name {
        font-size: 16px;
        line-height: 20px;
    }
}

// 992px <= screen <= 1199px
@media only screen and (min-width: 992px) and(max-width:1199px) {
    .item__description {
        max-width: 120px;
    }
}

// 350px <= screen <= 991px
@media only screen and (min-width: 350px) and (max-width: 991px) {
    .content__center {
        order: 1;
    }
    .content__left {
        order: 2;
    }
    .content__right {
        order: 3;
    }
    .container {
        max-width: 90% !important;
    }

    .navbar__item-link:hover {
        opacity: 0.7;
    }
}

// 1400px <= screen
@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1320px !important;
    }
}

// 641 <= screen <= 1200px
@media only screen and (min-width: 641px) and (max-width: 1200px) {
    .header {
        &__top {
            gap: 12px;
            flex-direction: column;
        }
        &__logo {
            width: 120px;
        }
    }
}

// Gallery
.gallery {
    &__content {
        &-wrap {
            background-color: white;
            border-radius: 2px;
            margin-bottom: 16px;
            position: relative;
        }
        &-img {
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 8px;
            top: 0;
            left: 0;
            &-wrap {
                position: relative;
                padding-top: 70%;
                margin-top: 20px;
                width: 100%;
            }
        }
        &-text {
            margin: 16px 0 24px;
            font-family: $ff-body;
            color: $cl-body-text;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.04em;
        }
        &-heading {
            color: $cl-title;
            font-family: $ff-body;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.04em;
            text-transform: uppercase;
            margin-bottom: 0;
        }
    }

    &__banner {
        &-title {
            font-family: "iCiel Begum";
            color: white;
            font-size: 32px;
            line-height: 40px;
            font-weight: 500;
            letter-spacing: -0.04em;
            margin-top: 15px;
            text-align: justify;
        }
        &-info {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__label {
                font-family: "SF Pro Display";
                color: white;
                font-size: 12px;
                line-height: 24px;
                letter-spacing: -0.04em;
                margin-bottom: 0;
            }
            &__left {
            }
            &__right {
                min-width: 160px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__icon {
                & img {
                    widows: 100%;
                    height: 100%;
                }
            }
        }
    }

    &__panel {
        &-wrap,
        &-background {
        }

        &-wrap {
            position: absolute;
            margin-top: 10%;
            margin-bottom: 24px;
            top: 0;
            right: 15%;
            left: 15%;
        }
        &-background {
            border-radius: 2px;
            height: 400px;
            // background: linear-gradient(
            //         180deg,
            //         rgba(124, 43, 43, 0) 0%,
            //         rgba(0, 155, 179, 0.93) 22.92%,
            //         #005360 100%
            //     ),
            //     url("../images/detail_bg.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            // grid-row: 1;
        }
    }

    &__content {
        padding: 32px 16px;
    }

    &__swiper {
        &-slide {
            position: relative;
            padding-top: 65%;
            border-radius: 8px;
            overflow: hidden;
        }

        &-pagination {
            bottom: 24px !important;
        }
    }
}
// Gallery

.custom-button-next,
.custom-button-prev {
    outline: none;
    width: 40px;
    padding: 6px;
    background-color: $cl-main-bg;
    border-radius: 100%;
    text-align: center;

    position: absolute;
    top: 50%;
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
        color: $cl-title;
        font-size: 24px;
    }
}

.custom-button-next {
    right: 16px;
}
.custom-button-prev {
    left: 16px;
}

// Search form
.search {
    outline: none;
    border: 0px;

    &__form {
        display: flex;
    }
    &__field {
        padding: 8px 16px;
        border-radius: 2px 0 0 2px;
        &::placeholder {
            color: $cl-search-text;
        }
        &--full {
            width: 100%;
        }
    }
    &__btn {
        padding: 0 8px;
        border-radius: 0 2px 2px 0;
        i {
            font-size: 24px;
        }
    }
}
// Search form

// Select
.select {
    &__lang {
        background: transparent;
        border: 0;
        color: white;
        &-wrap {
            color: white;
            background-color: $bg-select-lang;
            display: flex;
            align-items: center;
            margin-left: 16px;
            padding: 7px;
            border: 1px solid white;
            border-radius: 2px;
            i {
                font-size: 24px;
            }
        }
    }
}

.option__lang {
    color: black;
}
// Select

// Detail
.detail {
    &__content {
        background-color: white;
        border-radius: 2px;
        margin-bottom: 16px;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        // grid-auto-rows: 60px;
        &-tag p {
            font-size: 14px;
            background-color: #005197;
            max-width: 150px;
            text-align: center;
            border-radius: 4px;
            color: white;
            padding: 6px 10px;
            margin-bottom: 0;
        }
        &-title {
            font-family: "iCiel Begum";
            color: white;
            font-size: 32px;
            line-height: 40px;
            font-weight: 500;
            letter-spacing: -0.04em;
            text-transform: uppercase;
            margin-top: 15px;
            text-align: justify;
        }
        &-info {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__label {
                font-family: "SF Pro Display";
                color: white;
                font-size: 12px;
                line-height: 24px;
                letter-spacing: -0.04em;
                margin-bottom: 0;
            }
            &__left {
            }
            &__right {
                min-width: 160px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__icon {
                & img {
                    widows: 100%;
                    height: 100%;
                }
            }
        }
        &-img {
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 8px;
            top: 0;
            left: 0;
            &-wrap {
                position: relative;
                padding-top: 70%;
                margin-top: 20px;
                width: 100%;
                &--small {
                    padding-top: 55%;
                }
            }
        }
        &-text {
            margin: 16px 0 24px;
            font-family: $ff-body;
            color: $cl-body-text;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.04em;
        }
        &-heading {
            color: $cl-title;
            font-family: $ff-body;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.04em;
            text-transform: uppercase;
            margin-bottom: 0;
        }
        &-blackquote {
            display: flex;
            background-color: $bg-blackquote;
            padding: 24px 60px;
            border-left: 4px solid $bd-blackquote;
            border-radius: 0px 16px 16px 0px;
            &-text {
                margin: auto;
            }
        }
    }

    &__panel {
        &-wrap,
        &-background {
            grid-row: 1;
        }

        &-wrap {
            // background-color: red;
            grid-column: 2 / -2;
            margin-top: 10%;
            margin-bottom: 24px;
        }
        &-background {
            border-radius: 2px;
            height: 400px;
            // background: linear-gradient(
            //         180deg,
            //         rgba(124, 43, 43, 0) 0%,
            //         rgba(0, 155, 179, 0.93) 22.92%,
            //         #005360 100%
            //     ),
            //     url("../images/detail_bg.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            grid-column: 1 / -1;
            // grid-row: 1;
        }
    }
}

.list-tag {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    &__item {
        border-radius: 4px;
        padding: 8px;
        display: inline-block;
        background: rgba(9, 164, 216, 0.08);
        color: $cl-title;
        margin-right: 8px;
        font-size: 14px;
        line-height: 16px;
    }
}
// Detail

// Pagination
.pagination {
    justify-content: flex-end;
    a {
        text-decoration: none;
    }
}

.page-numbers {
    color: white;
    background-color: $bd-blackquote;
    padding: 4px 10px;
    font-size: 16px;
    margin-left: 10px;
    &.current {
        color: $cl-title !important;
    }
    &:not(.current):hover {
        color: white;
        opacity: 0.8;
    }
    &.prev,
    &.next {
        padding: 4px 8px;
    }
}
// Pagination

// Story
.story {
    &__panel {
        position: relative;
    }
    &__background {
        &-wrap {
            width: 100%;
            position: relative;
            padding-top: 65%;
            border-radius: 8px;
            overflow: hidden;
        }
        &-img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 55%);
        background-color: $cl-title;
        padding: 20px;
        width: calc(90%);
        border-radius: 8px;
        &-tag {
            background-color: $bd-blackquote;
            max-width: 152px;
            text-align: center;
            padding: 8px;
            border-radius: 4px;
            margin-bottom: 16px;
            color: white;
            font-size: 14px;
            line-height: 17px;
        }
        &-title {
            text-transform: uppercase;
            color: white;
            font-family: $ff-heading;
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 35px;
            margin-bottom: 16px;
        }
        &-info {
            display: flex;
            color: white;
            font-size: 12px;
            line-height: 24px;
            justify-content: space-between;
            &__right {
                display: flex;
                justify-content: space-between;
                gap: 12px;
            }
        }
    }
}
// Story

// Banner
.banner {
    margin-bottom: 16px;
    border-radius: 2px;
    overflow: hidden;
    &__wrap {
        width: 100%;
        position: relative;
        &--small {
            padding-top: 50%;
        }
        &--large {
            padding-top: 140%;
        }
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
// Banner

// Sponsor
.bottom {
    &__panel-wrap {
        display: flex;
        flex-direction: column;
    }
    &__title {
        cursor: default;
        position: relative;
        font-family: $ff-heading;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        text-transform: uppercase;
        color: $cl-title;
        padding-top: 8px;
        // max-width: 250px;
        margin: 0px auto 12px;
        &::before {
            position: absolute;
            content: "";
            border-top: 2px solid red;
            width: calc(20%);
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }
    }
}
.sponsor {
    &__list {
        display: flex;
        margin: 12px auto;
        width: 80%;
        justify-content: space-between;
    }
    &__item {
    }
    &__img {
    }
}
// Sponsor

// 404
.error-404__wrap {
    display: flex;
    min-height: 510px;
}
section.error-404.not-found {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page {
    &-title {
        font-family: $ff-heading;
        color: $cl-title;
    }
    &-content p {
        font-family: $ff-body;
        font-style: normal;
        font-size: 16px;
        color: $cl-sub-title;
    }
}
// 404

// form.wpcf7-form.init {
//     width: 40%;
// }
